{
    "presets": [
        "env",
        "stage-0", 
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transofrm-decorators-legacy",
        "transform-class-properties"
    ]
}